<% content_for(:page_title, "Sign up") %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="line">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, required: true %>
    </div>
    <div class="line">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="line">
      <%= f.label :username %>
      <%= f.text_field :username, required: true %>
    </div>
    <div class="line">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="line">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>
    <div class="line">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>
    <%= f.submit "Sign up", class: "cta-btn" %>
  </div>
<% end %>
<div class="footer-content">
  <p>
    Have an account?
    <%= link_to "Sign in", new_user_session_path %>.
  </p>
</div>
