<% content_for(:page_title, "Sign in") %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="line">
      <%= f.label :login, "Username / Email" %>
      <%= f.text_field :login, autofocus: true %>
    </div>
    <div class="line">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="login-button-content">
      <%= f.submit "Log in", class: "cta-btn" %>
      <%= link_to "Forgot password?", new_password_path(resource_name) %>
    </div>
  </div>
<% end %>
<div class="footer-content">
  <p>
    Don't have an account?
    <%= link_to "Create an Account",
      new_user_registration_path %>.
  </p>
</div>
